__pycache__/
.venv/

Codes/*
!Codes/Hi.txt
Logs/*
!Logs/Hi.txt
Temp/*
!Temp/Hi.txt

Tools/OSC/*
!Tools/OSC/Hi.txt

Tools/Items/pools.dat

config*
!Templates/config.xml.default
*.old
*.bak

.releases/
BuildBin/*

ignore-*
*-test*